# Build output
build/
bin/
*.o
*.obj
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.wasm

# Debug / profiling
*.dSYM/
*.gcda
*.gcno
*.gcov
core
vgcore.*

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# tantu
/tantu
tests/tmp/
tests/tantu-test
public/

src/embedded.c
tools/embed
/tantu.com
vendor.o
vendor-cosmo.o
tests/vendor-san.o
.cache/
